:root {
	--text-color: #1c1a33;
}

[data-theme="dark"] {
	--text-color: #eee;
}

.features-content {
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
	color: var(--text-color);
}

.features-content h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.features-content h2 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.8rem;
}

.features-content h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.6rem;
}

.features-content p {
	margin-bottom: 1rem;
	font-size: 1rem;
}

.features-content ul {
	padding-left: 1.5rem;
	margin-bottom: 1rem;
}

.features-content ul li {
	list-style-type: disc;
	margin-bottom: 0.5rem;
}

.features-content a {
	color: #1d4ed8;
	text-decoration: underline;
}

.features-content a:hover {
	text-decoration: none;
}

.features-content img {
	max-width: 100%;
	height: auto;
	margin: 1rem 0;
	border-radius: 0.5rem;
}
