body {
	background-color: #f5f5f5;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	overflow-x: hidden;
}

/* Navbar Styles */
.appBar {
	background-color: #041c94;
	padding: 0 20px;
}

.appBar .MuiTypography-root {
	color: white;
}

.appBar .MuiButton-root {
	color: white;
	margin-left: 20px;
}

/* Header Section */
.headerSection {
	background-color: #9cbcf4;
	padding: 80px 20px;
	text-align: center;
	color: #041c94;
}

.headerSection .MuiTypography-h2 {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.headerSection .MuiTypography-h5 {
	font-size: 1.5rem;
	font-weight: normal;
}

/* About Section =================================================================*/
.aboutSection {
	padding: 80px 20px;
}

.aboutSection .MuiTypography-h4 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 40px;
	color: #041c94;
}

.aboutContent {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

@media (min-width: 600px) {
	.aboutContent {
		grid-template-columns: repeat(2, 1fr);
	}
}

.aboutText {
	padding: 20px;
}

.aboutText .MuiTypography-body1 {
	font-size: 1.5rem;
	line-height: 1.8em;
	color: #010211;
}

/*=============== Projects Section ============================*/
.projectsSection {
	background-color: white;
	padding: 80px 20px;
}

.projectsTitle {
	font-size: 2rem;
	font-weight: bold;
	color: #041c94;
	margin-bottom: 40px;
	text-align: center;
}

.cardStyled {
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardContentStyled {
	text-align: center;
	padding: 20px;
}

.cardActionsStyled {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.cardActionsStyled .MuiIconButton-root {
	margin: 0 10px;
	color: #041c94;
}

/* ========================FOOTER==================================== */
.footer-container {
	background-color: #020732;
}

.footer-title {
	color: #c08507 !important;
	font-weight: 600 !important;
}

.footer-nav .nav-link {
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-nav .nav-link .footer-icon {
	margin-right: 8px;
}

.footer-nav .nav-link:hover {
	color: #d0d5dd;
}

.footer-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-content {
	text-align: center;
	padding: 2rem 0;
	color: #fff;
}

.footer-content p {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

/*==================== Adjustments for RTL Language =================*/
[dir="rtl"] .application-card {
	text-align: right;
}

[dir="rtl"] .btn-custom {
	margin-left: auto;
	margin-right: auto;
}
