/* ========================FOOTER==================================== */
.footer-container {
	background-color: #02030f;
}

.footer-title {
	color: #c1cff4 !important;
	font-weight: 600 !important;
}

.footer-nav .nav-link {
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	line-height: 2;
}

.footer-nav .nav-link .footer-icon {
	margin-right: 8px;
}

.footer-nav .nav-link:hover {
	color: #d0d5dd;
}

.footer-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-content {
	text-align: center;
	padding: 2rem 0;
	color: #fff;
}

.footer-content p {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
