:root {
	--font-body: "Ubuntu", sans-serif;
	--font-heading: "Unbounded", sans-serif;
	--bs-body-font-family: var(--font-body);
}

html {
	scroll-behavior: smooth;
	font-size: 100%;
}

@media (min-width: 1440px) {
	html {
		font-size: 106.25%; /* 17px */
	}
}

@media (min-width: 1920px) {
	html {
		font-size: 112.5%; /* 18px */
	}
}

body,
button,
input,
select,
textarea {
	font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}


.privacy-policy-container {
	max-width: 4xl;
	margin: 6rem auto;
	padding: 4rem;
}

.prose {
	font-family: var(--font-body);
}

.privacy-policy-container .prose h1,
.privacy-policy-container .prose h2,
.privacy-policy-container .prose h3,
.privacy-policy-container .prose h4 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: #014a98 !important;
}

.prose p {
	margin-bottom: 1rem;
	color: #424040;
}

.prose ul,
.prose ol {
	margin-bottom: 1rem;
	padding-left: 4rem;
}

.prose a {
	color: #007bff;
	text-decoration: underline;
}

.prose a:hover {
	color: #5ba8f0;
}

@media (max-width: 600px) {
	.privacy-policy-container {
		padding: 1rem;
	}
}